<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Grupo Wong</title>

    <!-- Bootstrap -->
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!--<link href="/static/bootstrap-datepicker/css/bootstrap-datepicker.css" rel="stylesheet">-->
    <link href="/static/bootstrap-datepicker/css/datepicker.css" rel="stylesheet">
    <link href="/static/DataTables/media/css/dataTables.css" rel="stylesheet">
    <link href="/static/css/custom.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <!--<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>-->
    <!--<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>-->
    <![endif]-->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>-->
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/static/bootstrap/js/jquery.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script src="/static/DataTables/media/js/dataTables.js"></script>
    <script src="/static/highchart/highchart.js"></script>

    <script src="/static/highchart/modules/data.js"></script>
    <script src="/static/highchart/modules/exporting.js"></script>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-default custom-navbar">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Grupo Wong</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li><a href="/pesos_cantidades">Pesos y cantidades</a></li>
                    <li><a href="/ranking_empleados">Ranking por empleados</a></li>
                    <li><a href="/racimos_cinta">Racimos por cinta</a></li>
                    <li><a href="/racimos_faltantes">Racimos faltantes</a></li>
                </ul>
            </div>
        </div>
    </nav>

    {% block content %}{% endblock %}
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }} </li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
</div>
<script src="/static/js/jquery.chained.min.js"></script>
<script src="/static/js/my_js.js"></script>
</body>
</html>
